/**
 *
 * {{ properCase name }}
 *
 */

{{#if memo}}
import React, { memo } from 'react'
{{else}}
import React from 'react'
{{/if}}
// import PropTypes from 'prop-types'
// import styled from 'styled-components'
import T from '@components/T';

export function {{ properCase name }}() {
  return (
    <div data-testid='{{ kebabCase name }}'>
      <T id={'{{lowerCase name}}'} />
    </div>
  )
}

{{ properCase name }}.propTypes = {}

{{#if memo}}
export default memo({{ properCase name }})
{{else}}
export default {{ properCase name }}
{{/if}}
